<header class="app-header">

  <span class="title">  {{brand() | uppercase}}</span>

  <nav class="app-header_nav">
    <a class="nav-link"
       routerLink="/"
       routerLinkActive="nav-link--active"
       [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>

    <a class="nav-link"
       routerLink="/student"
       routerLinkActive="nav-link--active">
      Estudiantes
    </a>

    <a class="nav-link"
       routerLink="/layouts"
       routerLinkActive="nav-link--active">
      Layouts
    </a>

    <a class="nav-link"
       routerLink="/signup"
       routerLinkActive="nav-link--active">
      Signup
    </a>

    <a class="nav-link"
    routerLink="/profile"
      routerLinkActive="nav-link--active">
      Perfil
      </a>

    <a class="nav-link"
    routerLink="/project-config"
      routerLinkActive="nav-link--active">
      Configuración de Proyecto
      </a>


  </nav>

</header>